.headerFont {
    font-family: "Garamond";
    font-size: 250%;
    line-height: 0.05;
    margin-top: 1%;
    margin-bottom: 1%;
}

.closeSpacing {
    margin-top: 0.005%;
    margin-bottom: 0.005%;
}

.barFont {
    font-family: "Garamond";
    font-size: 150%;
    margin-left: 0.001%;
    margin-right: 0.001%;
}
.mainFont {
    font-family: "Garamond";
    font-size: 100%;
}

hr.style1 {
    border-top: 1px solid #8c8b8b;
    margin-left: 10%;
    margin-right: 10%;
}